<h2 mat-dialog-title>Login</h2>
<form [formGroup]="_myForm" (submit)="loginAction(); false;">
    <mat-dialog-content align="center">
        <mat-form-field appearance="outline">
            <mat-label>E-mail</mat-label>
            <input matInput
                   [(ngModel)]="_email"
                   name="email"

                   [errorStateMatcher]="matcher"
                   formControlName="email"
                   [formControl]="_myForm.controls.email"
                   placeholder="Entre com seu e-mail"
                   required>
            <mat-icon matSuffix>person</mat-icon>

            <mat-error *ngIf="_myForm.controls.email.hasError('email')">
                Digite um e-mail válido
            </mat-error>
            <mat-error *ngIf="_myForm.controls.email.hasError('required')">
                Este campo é obrigatório
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Senha</mat-label>
            <input matInput
                   [(ngModel)]="_password"
                   type="password"
                   name="password"

                   formControlName="password"
                   [formControl]="_myForm.controls.password"
                   placeholder="Entre com sua senha">
            <mat-icon matSuffix>vpn_key</mat-icon>

            <mat-error *ngIf="_myForm.controls.password.hasError('required')">
                Este campo é obrigatório
            </mat-error>
        </mat-form-field>
    </mat-dialog-content>

    <mat-dialog-actions align="end">
        <button mat-button
                mat-dialog-close>Cancelar</button>
        <button mat-button
                [type]="submit"
                [disabled]="_myForm.invalid">GO!</button>
    </mat-dialog-actions>
</form>
