/*Variable*/
@import '../../../variables';

/*Google*/
.my-toolbar-icon {
    padding: 0 14px;
}

.my-toolbar-spacer {
    flex: 1 1 auto;
}

.mat-form-field{
    width: 100%;
}

/*Google*/
.pac-container {
    width: 100%;
}

.pac-icon{
    display: none;
}

.pac-item{
    border: none;
}

.pac-item:hover{}

.pac-item-selected{}

.pac-item-query{}

.pac-matched{}

/*Toolbar*/
.mat-icon{
    margin-top: -3px;
}

.menuVertical{
    display: none !important;
}

@media (max-width: 815px) {
    .menuHorizontal{
        display: none !important;
    }

    .menuVertical{
        display: flex !important;
    }
}
