<div class="container">
    <mat-card style="width: 90%">
        <form [formGroup]="_myFormRecoveryPassword"
              (submit)="resetPasswordAction(); false;">
            <mat-card-header>
                <mat-card-title><p>Reset de senha</p></mat-card-title>
                <mat-card-subtitle><p>faça abaixo o reset da sua senha</p></mat-card-subtitle>
            </mat-card-header>

            <mat-card-content align="center">
                    <!--PASSWORD-->
                    <mat-form-field>
                        <mat-label>Senha</mat-label>
                        <input matInput
                               formControlName="password"
                               [(ngModel)]="password"
                               [type]="hide ? 'password' : 'text'"

                               [errorStateMatcher]="matcher"
                               [formControl]="_myFormRecoveryPassword.controls.password"
                               placeholder="Entre com sua senha">

                        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>

                        <mat-error *ngIf="_myFormRecoveryPassword.controls.password.hasError('required')">
                            Este campo é obrigatório
                        </mat-error>
                        <mat-error *ngIf="_myFormRecoveryPassword.controls.password.hasError('minlength')">
                            Este campo deve ter no mínimo 8 caracteres
                        </mat-error>
                    </mat-form-field>

                    <!--REPEAT PASSWORD-->
                    <mat-form-field>
                        <mat-label>Repetir Senha</mat-label>
                        <input matInput
                               formControlName="repeatPassword"
                               [(ngModel)]="_repeatPassword"
                               type="password"

                               [errorStateMatcher]="matcher"
                               [formControl]="_myFormRecoveryPassword.controls.repeatPassword"
                               placeholder="Entre com sua senha">

                        <mat-error *ngIf="_myFormRecoveryPassword.controls.repeatPassword.hasError('required')">
                            Este campo é obrigatório
                        </mat-error>
                        <mat-error *ngIf="_myFormRecoveryPassword.controls.repeatPassword.hasError('mismatchedPassword')">
                            Senhas diferente
                        </mat-error>
                    </mat-form-field>
            </mat-card-content>

            <mat-card-actions align="end">
                <a routerLink="/home" mat-button>Cancelar</a>
                <div class="space"></div>
                <button mat-button
                        [type]="submit"
                        [disabled]="_myFormRecoveryPassword.invalid">Reset a senha</button>
            </mat-card-actions>
        </form>
    </mat-card>
</div>
