<div class="header">
    <div><p>Administre abaixo os seus <b>Garçons</b></p></div>
    <div class="space"></div>
    <div>
        <button mat-raised-button (click)="addWaiter()">Inserir garçom</button>
    </div>
</div>

<div class="container">
    <mat-form-field *ngIf="listWaterArray.data.length > 0">
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Pesquise aqui">
        <mat-icon matSuffix mat-icon-button>search</mat-icon>
    </mat-form-field>

    <div class="mat-elevation-z8">
        <div *ngIf="listWaterArray.data.length > 0">
            <table mat-table [class.isMobile]="isMobile" [dataSource]="listWaterArray" matSort>
                <!-- name column -->
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>nome</th>
                    <td mat-cell *matCellDef="let row">
                        <div class="mobile-label"><p>nome:</p></div>
                        <div class="mobile-label-value"><p>{{row.name}}</p></div>
                    </td>
                </ng-container>

                <!-- username column -->
                <ng-container matColumnDef="username">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>usuário</th>
                    <td mat-cell *matCellDef="let row">
                        <div class="mobile-label"><p>usuário:</p></div>
                        <div class="mobile-label-value"><p>{{row.username}}</p></div>
                    </td>
                </ng-container>

                <!-- edit column -->
                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let row" >
                        <div class="mobile-label-actions">
                            <button (click)="addWaiter(row)" mat-icon-button>
                                <mat-icon aria-label="edit">edit</mat-icon>
                            </button>
                            <button (click)="confirmDelete(row)" mat-icon-button>
                                <mat-icon aria-label="delete">delete</mat-icon>
                            </button>
                            <button (click)="confirmResetPassword(row)" mat-raised-button color="primary">Resetar Senha</button>
                        </div>
                    </td>
                </ng-container>

                <!-- header -->
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
        </div>

        <div class="data-table-nothing" *ngIf="listWaterArray.data.length === 0">
            <p>Não existem garçons cadastrados :( </p>
            <p><button mat-button (click)="addWaiter()">CLIQUE AQUI</button>para incluir um novo garçom!</p>
        </div>
    </div>
</div>
