/*Content*/
.header{
    display: flex;
    box-sizing: border-box;
    padding: 0 16px;
    width: 100%;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
    align-content: start;
    height: 100px;
}

.container{
    display: flex;
    align-content: start;
    padding: 0 16px;
    width: 100%;
    align-items: center;
    white-space: nowrap;
    flex-direction: column;
    box-sizing: border-box;
}

.container > * {
    width: 100%;
}

.space{
    flex: 1 1 auto;
}
